@media (min-width: 1020px) and  (max-width: 1124px)
{
    form{
        visibility: hidden;
    }
    .setDisplayFlexmod{
        flex-direction: column;
        align-items: center;
    }
    .header-nav-container{
        display: block;
    }
    .topBoxInfo{
        margin: 25px;
    }

}
@media (min-width: 425px) and (max-width: 1019px)
{
    form{
        visibility: hidden;
    }
    .setDisplayFlexmod{
        flex-direction: column;
        align-items: center;
    }
    .header-nav-container{
        display: block;
    }
    .topBoxInfo{
        visibility: hidden;
    }
}

